.layout-container {
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.table-header {
  background-color: blue;
  color: white;
}

.event-card {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.event-card-header {
  font-weight: bold;
  font-size: large;
}

.event-card-button {
  width: 120px;
}
